include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include fixtures *.csv
recursive-include tests *.py
global-exclude __pycache__/* *.py[cod]
